$color-primary: #8316B5;
$color-black-1: #1D1D1D;
$color-black-2: #524661;
$color-white-1: #FFFFFF;
$color-grey-1: #878787;
$color-grey-2: #A9A9A9;
$color-grey-3: #C2C2C2;
$color-grey-4: #E4E4E4;
$color-success-1: #49CA77;