$xs: calc(100% - 40px);
$sm: calc(100% - 40px);
$md: calc(100% - 40px);
$lg: 800px;
$xl: 800px;
$xxl: 800px;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 992px,
  xxl: 992px
);
$grid-width: (
  xs: $xs,
  sm: $sm,
  md: $md,
  lg: $lg,
  xl: $xl,
  xxl:$xxl,
);
@mixin media-breakpoint-up($breakpoint) {
    @media (min-width: map.get($grid-breakpoints, $breakpoint)) {
        @content;
    }
}